html, body {
    min-height: 100%;
}

body {
  overflow-x: scroll;
}

.ajax_invoice_list{ padding: 10px; width: 80%; margin: 0px auto;}

.alert-danger{ background-color: #fde5e2 !important; color: #dd4b39 !important;}

#todo_form{ padding: 10px;}

#shop_services_list{ padding: 5px; }

body.dragging, body.dragging * {
  cursor: move !important;
}

.dragged {
  position: absolute;
  opacity: 0.5;
  z-index: 2000;
}
ul#memList{ min-height: 50px; border: 1px dashed #5cb85c; margin-top: 5px;}
ul.membershipItems li.placeholder {
  position: relative;
  /** More li styles **/
}
ul.membershipItems li.placeholder:before {
  position: absolute;
  /** Define arrowhead **/
}

ul.membershipItems {
    border: 1px solid #999999;
}

ul.vertical li {
    display: block;
    margin: 5px;
    padding: 5px;
    border: 1px solid #cccccc;
    color: #0088cc;
    background: #eeeeee;
    margin-left: -35px;
    cursor: move;
}
ul.vertical li.highlight {
    background: #333333;
    color: #999999;
}

#shop_services_list ul{

  }

#final_output_list{ border: 2px solid #0088cc; /*background-color: #eeeeee;*/ padding: 10px; height: 500px; width: 100%;}
#final_output_list:hover{border: 2px dashed #0088cc;}